html{
  font-size: 16px;
}

h2{
  font-size: 1.35rem;
}

h3{
  font-size: 1.2rem;
}


body{
  width: 100%;
  margin: 0;
}

#wraper{
  width: 1080px;
  position: relative;
  margin: auto;
}

#header_background{
  width: 100%;
  height: 50px;
  background-color: hsl(5, 86%, 60%);
  position: absolute;
}

#header{
  width: 100%;
  height: 50px;
  background-color: hsl(5, 86%, 60%);
  line-height: 50px;
  vertical-align: middle;
  text-align: left;
}

div#header_search{
  display: inline-block;
  margin-left: 20px;
}

div#header_search input{
  border-radius: 5% / 25%;
  border: 2px solid hsl(275, 9%, 47%);
}

div#header_user{
  display: inline-block;
  float: right;
  margin-right: 20px;
}

div#header_user a{
  display: inline-block;
  margin: 0 5px 0 5px;
}

div.post{
  margin: 50px 50px 50px 50px;
  text-align: left;
}

div.post a{
  text-decoration: none;
  color: black;
}

div.post h2{
  font-weight: bold;
  display: inline-block;
}

div.post h3{
  font-weight: normal;
  display: inline-block;
  margin: 10px 0 10px 10px;
}

div.post div:last-child{
  margin: 20px 0 0px 0px;
}

div.comment{
  margin: 20px 0 20px 0;
  text-align: left;
}

div.comment h3{
  display: inline-block;
  margin: 10px 0 10px 10px;
}


button#load_more{
  border: none;
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: hsl(14, 73%, 72%);
  margin-bottom: 50px;
}

div#button_load{
  text-align: center;
}

form{
  display: inline-block;
  margin: 50px;
}
