html{
  font-size: 16px;
}

h2{
  font-size: 1.35rem;
}

h3{
  font-size: 1.2rem;
}


body{
  width: 100%;
  margin: 0;
}

#wraper{
  width: 1080px;
  position: relative;
  margin: auto;
}

#header_background{
  width: 100%;
  height: 50px;
  background-color: hsl(5, 86%, 60%);
  position: absolute;
}

#header{
  width: 100%;
  height: 50px;
  background-color: hsl(5, 86%, 60%);
  line-height: 50px;
  vertical-align: middle;
}

div#header_search{
  display: inline-block;
  margin-left: 20px;
}

div#header_search input{
  border-radius: 5% / 25%;
  border: 2px solid hsl(275, 9%, 47%);
}

div#header_user{
  display: inline-block;
  float: right;
  margin-right: 20px;
}

div.post{
  margin: 50px 0 50px 0;
}

div.post h3{
  display: inline-block;
  margin: 10px 0 10px 10px;
}

div.post div{
  margin: 10px 0 10px 10px;
}

div.comment{
  margin: 20px 0 20px 0;
}

div.comment h3{
  display: inline-block;
  margin: 10px 0 10px 10px;
}
