<% content_for :head do %>
  <%= javascript_include_tag "build/by_user", "data-turbolinks-track" => true %>
<% end %>

<%= render 'posts_wraper' %>

<button id='button_offset' user_name='<%= @user.name %>' >PageYOffset</button>
